.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.setIcon{
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

ion-icon {
    --ionicon-stroke-width: 32px;
    font-size: 33px;
  }

