.navContainer{
    min-height: 100vh;
    background: #222327;
}
.text{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changeLanguage{
    flex-direction: column;
}
.changeLanguage:hover{
    flex-direction: column;
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
}
.changeLanguage:active{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation{
position: sticky;
top: 0;
width: 800px;
height: 90px;
background: #040018;
border-radius: 10px;
margin: auto;
right: 0;
left: 0;


/* flex e center*/
}

.navigation ul{
width: 800px;
justify-content: space-evenly;
/*flex*/
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
    z-index: 2;
}

.navigation ul li a{
    position: relative;
    width: 100%;
    text-align: center;
    flex-direction: column;
    /* flex e center*/
}

.navigation ul li a .icon{
    position: relative;
    top: -10px;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #366b51;
}

.navigation ul li a .text{
    position: absolute;
    background: hsl(207, 92%, 19%);
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    top: 38px;
}

.navigation ul li.active a .icon{
    transform: translateY(-10px);
    color: #2196f3;
}

.navigation ul li.active a .text{
    transform:scale(1.1);
    opacity: 1;
}

.indicator
{
    position: absolute;
    top: -11px;
    width: 100px;
    height: 82px;
    background-color: #2a2634;
    border-radius: 10px;
    z-index: 0;
    transition: 0.5s;
}

.navigation ul li:hover .indicatorBox0{
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
}
.navigation ul li:active .indicatorBox0{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation ul li:hover .indicatorBox1{
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
}
.navigation ul li:active .indicatorBox1{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation ul li:hover .indicatorBox2{
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
}
.navigation ul li:active .indicatorBox2{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation ul li:hover .indicatorBox3 {
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
    
}
.navigation ul li:active .indicatorBox3{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation ul li:hover .indicatorBox4{
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
}
.navigation ul li:active .indicatorBox4{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}

.navigation ul li:hover .indicatorBox5{
    box-shadow: 0px 3px 15px #3700c1;
    background-color: #3a3544;
    opacity: 1;
}
.navigation ul li:active .indicatorBox5{
    box-shadow: 0px 3px 15px #d1d6d8;
    background-color: #c5c0cc;
    opacity: 1;
}
.split{
    justify-content: space-around;
    width: 57.15%;
}
       
.buttonChangeLanguage{
    top: 13.5px;
}

.invisible{
    position: absolute;
}

.split1{
    justify-content: space-around;
    width: 42.85%;
}


@media (min-width:711px) and (max-width:920px) {
    .box5{
        width: 100%;
    }
    div.Fotos-e-Redes{
        flex-direction: column;
    }
    div.container-de-cartao
    {
        flex-direction: column;
    }
    .navigation .icon{
        display: none !important;
    }
    .navigation {
        width: 95%;
        height: 40px;
    }
    .indicator{
        top:-11px;
        width: 65px;
        height: 40px;
    }
    .navigation .ul {
        width: 95%;
        height: 40px;
        margin: 0px
    }
    .navigation .li {
        width: 95%;
        height: 40px;
    }
    .navigation .span {
        font-size: .60em !important;
        letter-spacing: .02em !important;
        top:1px !important;
        background: none !important;
    }
    .split{
        justify-content: space-around;
        width: 57.15%;
    }
    .buttonChangeLanguage{
        top: 13.5px;
    }

    .invisible{
        position: absolute;
    }
    
    .split1{
        justify-content: space-around;
        width: 42.85%;
    }
}

@media (min-width:1px) and (max-width:710px) {
    header{
        width: 100%;
    }
    .box5{
        width: 100%;
    }
    div.Fotos-e-Redes{
        flex-direction: column;
    }
    div.container-de-cartao
    {
        flex-direction: column;
    }
    .navigation .icon{
        display: none !important;
    }
    .navigation {
        width: 100%;
        height: 110px;
    }
    .indicator{
        top:-11px;
        width: 65px;
        height: 40px;
    }
    .navigation .ul {
        width: 95%;
        height: 40px;
        margin: 0px
    }
    .navigation .li {
        width: 95%;
        height: 40px;
    }
    .navigation .span {
        font-size: .60em !important;
        letter-spacing: .02em !important;
        top:1px !important;
        background: none !important;
    }
    .split{
        width: 100%;
        justify-content: space-around;
        gap:30px;
        margin-left: 6px;
        width: 100%;    
    }

    .buttonChangeLanguage{
        top: 30px;
        justify-self: end;
        align-self: center;
        z-index: 30;
    }
      .invisible{
        position: relative;
        height: 33px;
        width: 80px;
    }
    
    .split1{
        width:100%;
        justify-content: space-around;
        gap: 30px;
        margin-left: 6px;
    }
    .splitBox{
        padding: 0;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }
}